{{#if menuItem.more}}
  <div class="ui dropdown item">
   {{menuItem.name}}
    <i class="dropdown icon"></i>
   {{#if menuItem.children.length}}

   <div class="menu">

   </div>
   {{/if}}
 </div>
{{else}}
    <a class="item">
      {{menuItem.name}}
    </a>
{{/if}}
