{{#if renameList.is_rename}}
  <div class="ui input">
    {{input id="renameInp" type=text value=renameList.res_name}}
  </div>  
{{else}}
  <span {{action "showName"}}>{{renameList.res_name}}</span>
{{/if}}
