@selectionColor: #2AD2BC;
@containerWidth: 250px;
@imageURL: "./images/zd-sprite.png";

ul{
    list-style: none;
    padding-left: 15px;
}
ul > li {
    margin: 5px 0px;
}
::selection {
    background: none;
}

.list-item:focus,
.list-header:focus {
    outline: none;
}
.list-item {
    padding: 4px;
    border-radius: 7px;
    margin-left: 20px;
}
.container{
  width: @containerWidth;
  border: 1px;
  border-radius: 20px;
  box-shadow: -1px 0px 14px 5px #eee;
  padding: 12px;
}

.is-active{
  background-color: @selectionColor;
  color: #fff;
}

.grid-item{
  width: 73px;
  margin: 0px 4px;
  display: inline-block;
}

.icon-space{
    margin: 5px 5px 0 10px;
}
.my-folder-icon {
    width: 15px;
    height: 12px;
    background-position: 0 -60px;
    float: left;
    margin: 2px 8px 0 -6px;
    background-image: url( @imageURL );
}
.subfolder-icon{
    display: block;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 7px solid #b1b1b1;
    border-bottom: 4px solid transparent;
    float: left;
    margin: 5px 5px 0 3px;
}
.folder-item{
    display: block;
    float: left;
    width: 100%;
    box-sizing: border-box;
}
.subfolder-icon+.each-item-label+ul{
    display: none;
}
.open-tree{
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
.subfolder-icon.open-tree+.each-item-label+ul{
    display: block;
}

.folderTreeContainer{
    margin-left: 100px;
    margin-top: 40px;
}
.ui.menu a.item:hover, .ui.menu.active.item:hover, .ui.vertical.menu.active.item:hover {
    cursor: pointer;
    background: rgba(0,0,0,.03);
    color: rgba(0,0,0,.95);
}

.ui.vertical.menu {
    width: 15rem;
}
.ui.vertical.menu {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}

.ui.vertical.menu .item {
    display: block;
    background: 0 0;
    border-top: none;
    border-right: none;
}

.ui.menu:first-child {
    margin-top: 0;
}

.ui.menu {
    font-size: 1rem;
}

.ui.menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 1rem 0;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    background: #fff;
    font-weight: 100;
    border: 1px solid rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    border-radius: .28571429rem;
    min-height: 2.85714286em;
}

.ui.menu .item {
    position: relative;
    vertical-align: middle;
    line-height: 1;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: 0 0;
    padding: .92857143em 1.14285714em;
    text-transform: none;
    color: rgba(0,0,0,.87);
    font-weight: 200;
    -webkit-transition: background .1s ease,box-shadow .1s ease,color .1s ease;
    transition: background .1s ease,box-shadow .1s ease,color .1s ease;
}

.ui.vertical.menu .item:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(34,36,38,.1);
    height: 1px;
}

.ui.menu .item:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background: rgba(34,36,38,.1);
  }

  :after, :before {
      box-sizing: inherit;
  }

  .ui.vertical.menu .item>i.icon {
    width: 1.18em;
    float: right;
    margin: 0 0 0 .5em;
}

.ui.menu .active.item>i.icon {
    opacity: 1;
}

.ui.dropdown {
    cursor: pointer;
    position: relative;
    display: inline-block;
    outline: 0;
    text-align: left;
    -webkit-transition: box-shadow .1s ease,width .1s ease;
    transition: box-shadow .1s ease,width .1s ease;
    -webkit-tap-highlight-color: transparent;
}
:after, :before {
    box-sizing: inherit;
}

i.icon, i.icons {
    font-size: 1em;
}

i.icon {
    display: inline-block;
    opacity: 1;
    margin: 0 .25rem 0 0;
    width: 1.18em;
    height: 1em;
    font-family: Icons;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    text-align: center;
    speak: none;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

i.icon.dropdown:before, i.icon.triangle.down:before {
    content: "\f0d7";
  }

  i.icon:before {
    background: 0 0!important;
}

.ui.vertical.menu .dropdown.item>.icon {
    float: right;
    content: "\f0da";
    margin-left: 1em
  }

  .ui.vertical.menu .item>i.icon {
    width: 1.18em;
    float: right;
    margin: 0 0 0 .5em;
}

.ui.menu .item>i.dropdown.icon {
    padding: 0;
}

.ui.menu .item>i.icon {
    opacity: .9;
}

.ui.dropdown>.dropdown.icon {
    font-family: Dropdown;
    line-height: 1;
    height: 1em;
    backface-visibility: hidden;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }

.ui.dropdown>.dropdown.icon {
  position: relative;
  font-size: .85714286em;
}

.ui.menu.active.item:hover, .ui.vertical.menu.active.item:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.95);
}

.ui.vertical.menu.dropdown.active.item {
  box-shadow: none;
}

.ui.menu a.item:hover, .ui.menu.active.item:hover, .ui.vertical.menu.active.item:hover {
    cursor: pointer;
    background: rgba(0,0,0,.03);
    color: rgba(0,0,0,.95);
}

.ui.vertical.menu {
    width: 15rem;
}
.ui.vertical.menu {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}

.ui.vertical.menu .item {
    display: block;
    background: 0 0;
    border-top: none;
    border-right: none;
}

.ui.menu:first-child {
    margin-top: 0;
}

.ui.menu {
    font-size: 1rem;
}

.ui.menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 1rem 0;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    background: #fff;
    font-weight: 100;
    border: 1px solid rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    border-radius: .28571429rem;
    min-height: 2.85714286em;
}

.ui.menu .item {
    position: relative;
    vertical-align: middle;
    line-height: 1;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: 0 0;
    padding: .92857143em 1.14285714em;
    text-transform: none;
    color: rgba(0,0,0,.87);
    font-weight: 200;
    -webkit-transition: background .1s ease,box-shadow .1s ease,color .1s ease;
    transition: background .1s ease,box-shadow .1s ease,color .1s ease;
}

.ui.vertical.menu .item:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(34,36,38,.1);
    height: 1px;
}

.ui.menu .item:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background: rgba(34,36,38,.1);
  }

  :after, :before {
      box-sizing: inherit;
  }

  .ui.vertical.menu .item>i.icon {
    width: 1.18em;
    float: right;
    margin: 0 0 0 .5em;
}

.ui.menu .active.item>i.icon {
    opacity: 1;
}

.ui.dropdown {
    cursor: pointer;
    position: relative;
    display: inline-block;
    outline: 0;
    text-align: left;
    -webkit-transition: box-shadow .1s ease,width .1s ease;
    transition: box-shadow .1s ease,width .1s ease;
    -webkit-tap-highlight-color: transparent;
}
:after, :before {
    box-sizing: inherit;
}

i.icon, i.icons {
    font-size: 1em;
}

i.icon {
    display: inline-block;
    opacity: 1;
    margin: 0 .25rem 0 0;
    width: 1.18em;
    height: 1em;
    font-family: Icons;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    text-align: center;
    speak: none;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

i.icon.dropdown:before, i.icon.triangle.down:before {
    content: "\f0d7";
  }

  i.icon:before {
    background: 0 0!important;
}

.ui.vertical.menu .dropdown.item>.icon {
    float: right;
    content: "\f0da";
    margin-left: 1em
  }

  .ui.vertical.menu .item>i.icon {
    width: 1.18em;
    float: right;
    margin: 0 0 0 .5em;
}

.ui.menu .item>i.dropdown.icon {
    padding: 0;
}

.ui.menu .item>i.icon {
    opacity: .9;
}

.ui.dropdown>.dropdown.icon {
    font-family: Dropdown;
    line-height: 1;
    height: 1em;
    backface-visibility: hidden;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }

.ui.dropdown>.dropdown.icon {
  position: relative;
  font-size: .85714286em;
}

.ui.menu.active.item:hover, .ui.vertical.menu.active.item:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.95);
}

.ui.vertical.menu.dropdown.active.item {
  box-shadow: none;
}
