@containerWidth: 580px;
@greyColor: #cccccc;
@lightGreyColor: rgba(204, 204, 204, 0.39);
@headerBackgroundColor: #FAFAFA;
@darkGreyColor: #565656;
@whiteColor: #fff;
@blueColor: #4285f4;
@fontSize: 13px;
@imageURL: "./images/zd-sprite.png";

@import "theme.less";
@import "selectionview.less";
@import "folderTreeView.less";
@import "menu.less";
@import "customFields.less";

.icon-space{
    margin: 5px 5px 0 10px;
}
.my-folder-icon {
    width: 15px;
    height: 12px;
    background-position: 0 -60px;
    float: left;
    margin: 2px 8px 0 -6px;
    background-image: url( @imageURL );
}
.subfolder-icon{
    display: block;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 7px solid @darkGreyColor;
    border-bottom: 4px solid transparent;
    float: left;
    margin: 5px 5px 0 3px;
}
.folder-item{
    display: block;
    float: left;
    width: 100%;
    box-sizing: border-box;
}
.subfolder-icon+.each-item-label+ul{
    display: none;
}
.open-tree{
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
.subfolder-icon.open-tree+.each-item-label+ul{
    display: block;
}
